.card
	display: grid
	&:hover
		text-decoration: none
.img
	width: 264px
	height: 250px
	border-radius: 10px
	overflow: hidden
	background-color: #333
	& img
		width: 100%
		height: 100%
		object-fit: cover
.price
	font-weight: 500
	font-size: 29px
	line-height: 143.52%
	margin-top: 7px
.name
	font-weight: 400
	font-size: 18px
	line-height: 143.52%
	color: #A6A6A6